@font-face {
  font-family: SFProD;
  font-display: swap;
  src: url("../../resources/fonts/SF-Pro-Display-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SFProD;
  font-display: swap;
  src: url("../../resources/fonts/SF-Pro-Display-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: SFProD;
  font-display: swap;
  src: url("../../resources/fonts/SF-Pro-Display-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SFProD;
  font-display: swap;
  src: url("../../resources/fonts/SF-Pro-Display-Semibold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SFProT;
  font-display: swap;
  src: url("../../resources/fonts/SFProText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SFProT;
  font-display: swap;
  src: url("../../resources/fonts/SFProText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: SFProT;
  font-display: swap;
  src: url("../../resources/fonts/SFProText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SFProT;
  font-display: swap;
  src: url("../../resources/fonts/SFProText-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}